anyio==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
loguru==0.6.0
lxml==4.8.0
PyYAML==6.0
rfc3986==1.5.0
sniffio==1.2.0
tinydb==4.7.0
win32-setctime==1.1.0
